{% extends 'main.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>{% current_time '%b %d %Y' %}</h1>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    <h3> {{ next_sale|default_if_none:"" }} </h3>
    {% if search %}
        <h1><strong><i>Новости</i></strong></h1>
            <hr>
            <br>
            <br>
            <br>
            <table>
                <tr>
                    <td><strong>Тема</strong></td>
                    <td><strong>Описание</strong></td>
                    <td><strong>Дата</strong></td>
                </tr>
                {% for post in search %}
                <tr>
                    <td><a href="{{ post.pk }}"><strong>{{ post.title|censor|truncatechars:30 }}</strong></a></td>
                    <td>{{ post.text|censor|truncatechars:255 }}</td>
                    <td>{{post.date_in|date:'d M' }}</td>
                </tr>
                {% endfor %}
            </table>

        <br>
        <br>
        <br>
        <i>Всего новостей: {{ search|length }}</i>
    {% else %}
        <h1>Новостей нет</h1>
    {% endif %}
    <br>
    <br>
    <br>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
{% endblock content %}